.basic {
  padding: 0;
}

.header {
  padding-left: var(--sidebar-width);
  box-shadow: var(--shadow);
  background-color: var(--bs-white);
  transition: padding-left 0.3s;
}

.content {
  padding-left: var(--sidebar-width);
  transition: padding-left 0.3s;
  min-height: calc(100vh - 65px * 2);
}

.content > div {
  padding: 1rem;
}

.footer {
  height: 65px;
  line-height: 65px;
  padding-left: calc(var(--sidebar-width) + 2rem);
}

.header.lg {
  padding-left: var(--sidebar-width-mini);
  transition: padding-left 0.3s;
}

.content.lg {
  padding-left: var(--sidebar-width-mini);
  transition: padding-left 0.3s;
}
